/* Basic CSS styles */
:root{
    --card-color: #6495ED;
    --shadow-color: #89CFF0;
    --button-color: #000;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User's Card */
.card{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 2.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 var(--shadow-color);
    max-width: 500px;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    display: flex;
}

.card:hover{
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);

    /* Glowing line */
    .details::before{
        box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
        background-color: var(--card-color);
    }
}

.card img{
    width: 8rem;
    max-width: 100%;
    min-width: 80px;
    display: block;
    border: 1px solid var(--card-color);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 2px 5px var(--card-color), 0 2px 5px var(--shadow-color);
}

.card::after{
    height: 15rem;
    width: 15rem;
    background-color: var(--card-color);
    top: -8rem;
    right: -8rem;
    border-radius: 50%;
}

.card::before{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    top: -0.7rem;
    left: -0.7rem;

}

.card::after,
.card::before{
    content: "";
    position: absolute;
    z-index: -1;
}

.info{
    margin-left: 1.5rem;
}

.name{
    margin-bottom: 1rem;
}

.name h2{
    font-size: 1.5rem;
}

.name h4{
    font-size: 0.8;
}

.text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.details{
    list-style: none;
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem 0;
    /* delete */
    position: relative;
}

.details li{
    min-width: 5rem;
}

.details li h3{
    font-size: 1rem;
}

.details li h4{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
}

/* Line after details */
.details::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 100%;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 var(--shadow-color);

}

 .links button{
    min-width: 120px;
    padding: 0.5rem;
    border: 1px solid var(--card-color);
    border-radius: 5px;
    font-weight: 600;
    cursor:  pointer;
    transition: all 0.2s linear;
 }

.links .statistics,
.links .about:hover{
    background-color: var(--card-color);
    color: var(--button-color);
}

.links .about,
.links .statistics:hover{
    background-color: transparent;
    color: var(--card-color);
}

@media only screen and (max-width: 468px) {
    .card{
        display: block;
    }

    .info{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .links button{
        min-width: 100px;
    }
}
