/* Basic CSS styles */
:root{
    --card-color: #6495ED;
    --shadow-color: #89CFF0;
    --button-color: #000;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User's Card */
.card{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 2.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 var(--shadow-color);
    /* max-width: 500px; */
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    display: flex;
    /* Edit */
    margin-top: 6rem;
}

.card:hover {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
}

.card:hover .details::before {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
    background-color: var(--card-color);
}

.card:hover::after {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
    background-color: var(--card-color);
}


/* Person css */
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.imgs img{
    max-width: 100%;
    min-width: 80px;
    display: block;
    width: 8rem;
}

#profile_img{
    padding: 0;
    /* border: 1px solid var(--card-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px var(--card-color), 0 2px 5px var(--shadow-color); */
}

.image-container{
    position: relative;
}

#lungs_img{
    position: absolute;
    width: 5rem;
    top: 8%;
    left: 22%;
    padding: 5px;
    min-width: 40px;
    max-width: 65%;
}

#legs_img{
    width: 6.3rem;
    min-width: 60px;
    max-width: 80%;
}

/* Achievements */
.first-row,
.second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-row img,
.second-row img{
    width: 3rem;
    min-width: 40px;
    margin-right: 10px;
}

.card::after{
    height: 15rem;
    width: 15rem;
    background-color: var(--shadow-color);
    top: -8rem;
    right: -8rem;
    border-radius: 50%;
}

.card::after{
    content: "";
    position: absolute;
    z-index: -1;
}

.info{
    margin-left: 3rem;
    margin-right: 1rem;
}

.name{
    margin-bottom: 1.5rem;
}

.name h2{
    font-size: 2.5rem;
}

.name h4{
    font-size: 1.1rem;
}

.text{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.details{
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    position: relative;
}

.details li{
    min-width: 5rem;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.details li h3{
    font-size: 1.2rem;
}

.details li h4{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 5px;
}

/* Line after details */
.details::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 var(--shadow-color);
}

.details::before{
    top: 0;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links button {
    min-width: 150px;
    padding: 0.6rem 0.5rem;
    border: 1px solid var(--card-color);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px;
}

.links .statistics,
.links .about:hover{
    background-color: var(--card-color);
    color: var(--button-color);
}

.links .about,
.links .statistics:hover{
    background-color: transparent;
    color: var(--card-color);
}

@media only screen and (max-width: 500px) {
    .card{
        display: block;
        margin-top: 5px;
    }

    .info{
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5rem;
    }

    .links button{
        min-width: 100px;
    }

    .imgs{
        margin-left: 0;
    }
}


/* 

*/