/* User's Card */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 2.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 30px 0 var(--shadow-color);
    position: relative;
    overflow: hidden;
    margin: 1.5rem 0;
}

.wrap{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 75vh;
    align-items: center;
}

.card:hover {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
}

.card:hover .details::before {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
    background-color: var(--card-color);
}

.card:hover::after {
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--shadow-color);
    background-color: var(--card-color);
}


/* Person css */
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.imgs img{
    max-width: 100%;
    min-width: 80px;
    display: block;
    width: 12rem;
}

.image-container{
    position: relative;
}

#lungs_img{
    position: absolute;
    width: 7.5rem;
    top: -1%;
    left: 22%;
    padding: 5px;
    min-width: 40px;
    max-width: 65%;
}

#legs_img{
    width: 9rem;
    min-width: 60px;
    max-width: 80%;
}



/* Decoration quarter of a circle */
.card::after{
    height: 15rem;
    width: 15rem;
    background-color: var(--shadow-color);
    top: -8rem;
    right: -8rem;
    border-radius: 50%;
}

.card::after{
    content: "";
    position: absolute;
    z-index: -1;
}

/* Text block */
.info {
    margin-left: 3rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name{
    margin-bottom: 1.5rem;
}

.name h2{
    font-size: 2.5rem;
}

.name h4{
    font-size: 1.1rem;
}

.text{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.details{
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    position: relative;
}

.details li{
    min-width: 5rem;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.details li h3{
    font-size: 1.2rem;
}

.details li h4{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 5px;
}

/* Line after details */
.details::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 10px 0 var(--shadow-color);
}

/* Achievements */
.first-row,
.second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-row img,
.second-row img{
    width: 3rem;
    min-width: 40px;
    margin-right: 10px;
}

/* Login a day button */
.log-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-button button{
    min-width: 300px;
    height: 100%;
    padding: 0.6rem 0.5rem;
    font-weight: 600;   
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 10px;
}

.log-day{
    background-color: var(--button-color-on);
    color: var(--card-color-on);
    border: 1px solid var(--card-color); 
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.3), 0 2px 30px 0 var(--button-color-on);
}

.log-day:hover{
    box-shadow: 0 2px 10px 0 var(--card-color), 0 2px 10px 0 var(--button-color-on);
}

/* Disabled button when can't login */
.disabled #disabled{
    background-color: transparent;
    color: var(--card-color);
    box-shadow: none;
}

#disable:hover{
    box-shadow: none;
}

/* Tooltip */
.first-row div,
.second-row div{
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: gray;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.first-row div:hover .tooltip,
.second-row div:hover .tooltip{
    visibility: visible;
    opacity: 1;
}



/* Mobile devices */
@media only screen and (max-width: 700px){
    .name h2 {
        font-size: 1.8rem;
    }

    .name h4 {
        font-size: 0.9rem;
    }

    .text {
        font-size: 1rem;
    }

    .details li h4 {
        font-size: 0.8rem;
    }

    .details li h3 {
        font-size: 1rem;
    }

    .wrap{
        width: auto;
    }

    .info{
        margin-right: 0;
    }

    .imgs img{
        width: 8rem;
    }
    
    #lungs_img{
        width: 5rem;
    }
    
    #legs_img{
        width: 6.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .wrap{
        display: block;
        height: auto;
        width: 80vw;
    }
    
    .card{
        display: block;
    }

    .info{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5rem;
    }

    .imgs{
        margin-left: 0;
    }
}

/* 
Log button off

#disable{
    background-color: transparent;
    color: var(--card-color);
    box-shadow: none;
}

#disable:hover{
    box-shadow: none;
}

*/