* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

/* Nav bar */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}


/* login css */
.page{
    background-image: url("/static/background.jpg");
    background-size: cover; /* This ensures the image covers the whole screen */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-login{
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    min-width: 350px;
    height: 70vh;
    width: 50vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-login > h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.container-login > p{
    font-size: small;
    width: 60%;
    padding: 15px 40px;
    margin: 0 auto;
}

::placeholder{
    color: #fff;
}


.login-form{
    display: flex;
    height: 25vw;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-form input{
    width: 70%;
    padding: 15px 5px;
    margin: 5px 0 10px 0;
    border: none;
    text-decoration: none;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
}

::placeholder{
    font-size: 1rem;
}

.login-form input:focus{
    border-bottom: 2px solid #808080;
}

.login-form a{
    text-decoration: none;
    color: #808080;
}

.login-form a:hover{
    color: #606060;
}

.register{
    width: 70%;
    text-align: right;
    font-size: 0.8rem;
    padding: 15px 0;
    white-space: nowrap;
}

.login-button{
    width: 70%;
    padding: 15px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 768px) {
    .container-login > p{
        display: none;
    }
}
