{% extends "navbar_layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block styles %}
    <!-- Styles for navbar -->
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/homepage.css">
{% endblock %}

{% block main %}

<main>
    <!-- <section class="welcome">
        <h1>Welcome Back, [User's Name]!</h1>
        Add a condition, if first time, than start... else continue...
        <p>Start your journey to a smoke-free life.</p> 
    </section> -->


    <section class="card">

        <div class="profile_img">
            <img src="/static/images/man_icon.png" alt="Profile">
        </div>

        <div class="info">

            <div class="name">
                <h2>Vadym Musiienko</h2>
                <h4>musiienkovadym@gmail.com</h4>
            </div>

            <p class="text">
                You are doing well!
            </p>

            <ul class="details">
                
                <li>
                    <h3>0</h3>
                    <h4>Days without smoking</h4>
                </li>

                <li>
                    <h3>0</h3>
                    <h4>Cigarettes not smoked</h4>
                </li>

                <li>
                    <h3>0 $</h3>
                    <h4>Saved</h4>
                </li>


            </ul>

            <div class="links">
                <button class="statistics">More Stats</button>
                <button class="about">My Profile</button>
            </div>

        </div>
            
    </section>


    <!-- <section class="progress-tracker">
        <h2>Your Progress</h2>
        <p>Days Smoke-Free: [Number of Days]</p>
        <p>Cigarettes Not Smoked: [Number of Cigarettes]</p>
        <p>Money Saved: $[Amount Saved]</p>
    </section> -->

    <!-- <section class="daily-tips">
        <h2>Daily Tip</h2>
        <p>[Daily Tip or Motivational Quote]</p>
    </section> -->


{% endblock %}
