<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Quit smoking: {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js"></script>

</head>
<body>
     
    <header class="header">
        <a href="/templates/index.html" class="logo">Smoking</a>

        <nav class="navbar">

            <a href="#">Dashboard</a>
            <a href="#">About</a>
            <a href="#">My profile</a>
            
            <div class="dropdown">

                <img src="/static/profile_picture.JPG" alt="Profile Picture" class="profile-image"> 
                <div class="dropdown-menu">
                    <a href="#">My profile</a>
                    <a href="/templates/login.html">Log out</a>
                    <a href="#">Settings</a>
                </div>

            </div>

        </nav>
    </header>
    
</body>
</html>