{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block main %}
    <div class="page">
        <div class="container-login">
            <h1>Welcome Back!</h1>
            <p>
                Please log in to track your smoke-free journey, monitor your progress, and stay motivated with personalized insights and support.
            </p>
            <form action="/login" method="post">

                <div class="login-form">
                    <input type="text" name="username" placeholder="Username" minlength="5" maxlength="20" required autofocus>
                    <input type="password" name="password" placeholder="Password" minlength="5" maxlength="20" required>

                    <a href="/templates/resetpassword.html" class="forgot">Forgot password?</a>
                    <button class="login-button" type="submit">Login</button>

                    <!-- Register redirection form -->
                    <form action="/register" method="get">
                        <button class="register-button" type="submit">Register here</a><button>
                    </form>
                </div>

            </form>
        </div>
    </div>
{% endblock %}