{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block scripts %}{% endblock %}

{% block main %}
    <div class="page">
        <div class="container-login">

            {% block login_h1 %}
                <h1>Welcome Back!</h1>
            {% endblock %}

            {% block login_message %}

            <p>
                Please log in to track your smoke-free journey, monitor your progress, and stay motivated with personalized insights and support.
            </p>

            {% endblock %}


            <form action="{{ '/' + request.endpoint }}" method="post">
                <div class="login-form">
                    <input type="text" name="username" placeholder="Username" minlength="5" maxlength="20" required autofocus>

                    {% block form_password %}
                        <input type="password" name="password" placeholder="Password" minlength="5" maxlength="20" required>
                    {% endblock %}

                    {% block confirm %}{% endblock %}

                    <div class="login-extra">
                        <div class="remember">
                            <input type="checkbox" id="remember" name="remember" value="yes" checked>
                            <label for="remember">Remember Me</label>
                        </div>

                        {% block extra_right %}
                            <a href="/resetpassword">Forgot password?</a>
                        {% endblock %}

                    </div>

                    {% block sign_in %}
                        <button class="white-button" type="submit">Login</button>
                    {% endblock %}

                    {% block sign_up%}
                        <a href="/register" class="trans-button">Register here</a>
                    {% endblock %}
                </div>

            </form>
        </div>
    </div>
{% endblock %}