{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/navbar.css">    
{% endblock %}

{% block scripts %}
    <script src="/static/navbar.js" defer></script>
{% endblock %}

<!-- Navigation bar -->
{% block nav %}

<nav>
    <!-- Vertical -->
    <ul class="sidebar">
        <li onclick="hideSidebar()">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
            <a href="/"><img class="navbar-logo" src="/static/images/logo.png" alt="Logo"></a>
        </li>
        <li><a href="/" class="underline">Home</a></li>
        <li><a href="/settings" class="underline">Settings</a></li>
        <li><a href="/about" class="underline">About</a></li>
        <li><a href="/login" class="underline">Log out</a></li>
    </ul>

    <!-- Horizontal -->
    <ul class="navbar">
        <li class="hide-on-mobile2"><a href="/"><img class="navbar-logo logo-hide" src="/static/images/logo.png" alt="Logo"></a></li>
        <li class="hide-on-mobile"><a href="/" class="underline">Home</a></li>
        <li class="hide-on-mobile"><a href="/settings" class="underline">Settings</a></li>
        <li class="hide-on-mobile"><a href="/about" class="underline">About</a></li>
        <li class="hide-on-mobile"><a href="/login" class="underline">Log out</a></li>
        <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
</nav>

{% endblock %}

<!-- TODO Footer -->
{% block footer %}{% endblock %}
