{% extends "login&layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block login_h1 %}
    <h1>Reset Your Password</h1>
{% endblock %}

{% block login_message %}<p> Enter your email address associated with your account to reset your password. </p>{% endblock %}


<!-- Display: none password -->
{% block form_password %}
    <input type="password" name="password" placeholder="New Password" minlength="5" maxlength="20" required>
{% endblock %}

{% block confirm %}
    <input type="password" name="password-confirm" placeholder="Confirm New Password" minlength="5" maxlength="20" required>
{% endblock %}

<!-- Go back to login page -->
{% block extra_right %}
    <a href="/login">Go back?</a>
{% endblock %}

{% block sign_in %}{% endblock %}

{% block sign_up%}
    <button class="white-button" type="submit">Reset<button>
{% endblock %}
